<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Activities</title>
<link href="css/homeactivities.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-135654484-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
</head>
<body bgcolor="#E5E5E5" style="margin: 0">

<script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>

		<div class="title">
	<h3 style="font-weight: 500">Activities</h3>
</div>
<div style="overflow-y:auto; height: 80vh">
  {{# each activities}}
	<div class="card">
    	<div class="container">
    		<h4 style="margin-top: 18px;font-weight: 400;margin-bottom: 20px">{{this.ActivityName}}</h4>
    		<div class="start_container">
        <a href="CompleteActivity?n={{this.ActivityName}}&workLength={{this.workLength}}" style="color: inherit; text-decoration: none;line-height: 36px;font-size: 14px;color:#9fa8da;letter-spacing: 0.1em;vertical-align: top;margin-bottom: 5px">START</a>
    		</div>
    		<div class="edit_container">
    		<i class="material-icons"><a href="EditActivity?n={{this.ActivityName}}&workLength={{this.workLength}}&breakLength={{this.breakLength}}"  style="color: inherit; text-decoration: none;margin-top: 10px">more_vert</i></a>
    	</div>
  		</div>
		</div>
    {{/ each}}
  </div>

		<div class="fab" id="fabAdd" ><a href="AddActivity" style="color: inherit; text-decoration: none">
      <i class="material-icons">add</i></a>
    </div>

		<div class="navbar">
			<div class="settings_container">
  <i class="material-icons" style="color:white;opacity:0.5"><a href="Settings" style="color: inherit; text-decoration: none">settings</i></a>
</div>
<div class="activities_container">
  <i class="material-icons"style="color:white">event_note</i>
</div>
<div class="statistics_container">
  <i class="material-icons" style="color:white;opacity:0.5"><a href="Statistics"style="color: inherit; text-decoration: none">insert_chart</i></a>
</div>
</div>


</body>
</html>
